<h1>
  <app-progress-bar [progress]="counterProgress"></app-progress-bar>
  <app-countdown #countdown
                 [init]="totalCountDown"
                 (onDecrease)="updateProgress($event)"
                 (onComplete)="countdownFinished()">
  </app-countdown>
  <div class="initInput"><label for="totalCountdown"> init on</label>
    <input type="text" id="totalCountdown" [(ngModel)]="totalCountDown">
  </div>
  <button (click)="countdown.startCountdown(); counterProgress=0;">RESTART</button>
</h1>
